* {
    margin: 0;
    padding: 0;
}
.cart {
    margin-right: 50px;
    display: flex;
    justify-content: flex-end;
}
.cart button {
    cursor: pointer;
    margin-top: 20px;
    position: relative;
}
.cart p {
    text-align: center;
    width: 20px;
    height: 20px;
    background-color: white;
    position: absolute;
    color: red;
    top: 5px;
    right: 35px;
    border-radius: 4px;
    border: 1px solid black;
}